
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color:gainsboro;
    
}

#head{
    background-color: goldenrod;
    width: 100%;
    height: 200px;
    text-align: center;
    
}

#fot{
    background-color: darkgray;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    
}

#head img{
    float: left;
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#headtext{
    padding-top: 40px;
    float: left;
}

.log{
    margin-top: 100px;
    width:fit-content;
    padding: 30px;
    background-color: white;
    border: 1px solid ;
    border-radius: 10px;
}

.log *{
    margin:6px;
}

.log h1{
    margin-bottom:15px;
}

.log *{
    margin:6px;
}

#men{
    background-color: gray;
    width: 100%;
}


#menu ul{
    list-style: none;
    float: left;
}

#menu ul li{
    list-style: none;
    float: left;
}