
{%block titulo %} Editar Reserva {% endblock titulo %}
{%block cuerpo %}
    <form method="post">{% csrf_token %}
        {{formulario.as_p}}
        <button type="submit">Guardar</button>
    </form>

{%endblock cuerpo%}