{% extends 'listaContactos.html' %}
{%block titulo %} Editar Reserva {% endblock titulo %}
    <form method="post">{% csrf_token %}
        {{formulario.as_p}}
        <button type="submit">Guardar</button>
    </form>
{%block cuerpo %}
{%endblock cuerpo%}