<html>
    <header>
        {% block title %}
        <title>Hotel 180 </title>

        {% endblock %}
        {% load static %}
        <link href="{% static 'css/principal.css' %}" rel="stylesheet" type="text/css" media="screen" />
    </header>
    <body>
   
    <center>
        <div id="head">
            <img src="{% static 'Cafet.png' %}"  alt="fondo" width="160" height="160">
            <div id="headtext">
                <h1>Hotel 180°</h1>
                <h3>El mejpor lugar para descansar</h3>
            </div>
        </div>
    </center>
    {% if user.is_authenticated %}
        <div id="men">
            <ul>
                <li><a href="{% url 'loggout'  %}">salir</a></li>
                <li><a href="">inicio</a></li>
                <li>listar<li>
            </ul>
        </div>
    {% endif%}

    {% block sidebar %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div id="fot">
        <p>Hotel_180@gmail.com°<p>
        <p>Desarrollado por: Daniela, liseth, Jheyson, Wilmer<p></p>
      
    </div>

    </body>
</html>