{%extends "header.html"%}



{% block content %}   
{% if user.is_authenticated %}
    <h1> Empleado </h1>
        <table border=2 >
            <head>
                <trow>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Contraseña</th>
                    <th>Teléfono</th>
                    <th>Herramientas de edicion</th>
                </trow>
            </head>
            <tbody>
                {% for empl in misEmpleados%}
                <tr>
                    <td> {{empl.id }}</td>
                    <td> {{empl.nombre }}</td>
                    <td> {{empl.apellido }}</td>
                    <td> {{empl.contrasena }}</td>
                    <td> {{empl.telefono }}</td>
                    <td> <a href="{% url 'editar' empl.id %}"> Editar </a>
                            <a href="{% url 'eliminar' empl.id %}"> Eliminar </a></td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    <h1> Factura </h1>
    <table border=2 >
        <head>
            <trow>
                <th>ID Factura</th>
                <th>Valor</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripción Servicio</th>
                <th>Código Reserva</th>
                <th>Herramientas de edicion</th>
            </trow>
        </head>
        <tbody>
            {% for fact in misFacturas%}
            <tr>
                <td> {{fact.ID_Factura }}</td>
                <td> {{fact.Valor }}</td>
                <td> {{fact.Fecha }}</td>
                <td> {{fact.Hora }}</td>
                <td> {{fact.Descripcion_Servicio }}</td>
                <td> {{fact.Cod_Reserva }}</td>
                <td> <a href="{% url 'editar' fact.ID_Factura %}"> Editar </a>
                        <a href="{% url 'eliminar' fact.ID_Factura %}"> Eliminar </a></td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
    <h1> Habitacion </h1>
        <table border=2 >
            <head>
                <trow>
                    <th>Número Habitación</th>
                    <th>Cupo Máximo</th>
                    <th>Tipo Habitación</th>
                    <th>Estado Habitación</th>
                    <th>Herramientas de edicion</th>
                </trow>
            </head>
            <tbody>
                {% for habi in misHabitaciones%}
                <tr>
                    <td> {{habi.Numero_Habitacion }}</td>
                    <td> {{habi.Cupo_maximo }}</td>
                    <td> {{habi.Tipo_Habitacion }}</td>
                    <td> {{habi.Estado_Habitacion }}</td>
                    <td> <a href="{% url 'editar' habi.Numero_Habitacion %}"> Editar </a>
                            <a href="{% url 'eliminar' habi.Numero_Habitacion %}"> Eliminar </a></td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    <h1> Huesped </h1>
        <table border=2 >
            <head>
                <trow>
                    <th>ID Huesped</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Tipo Tarjeta</th>
                    <th>Número Tarjeta</th>
                    <th>Fecha Vencimiento</th>
                    <th>Herramientas de edicion</th>
                </trow>
            </head>
            <tbody>
                {% for hues in misHuespedes%}
                <tr>
                    <td> {{hues.ID_Huesped }}</td>
                    <td> {{hues.Nombre }}</td>
                    <td> {{hues.Apellido }}</td>
                    <td> {{hues.Correo }}</td>
                    <td> {{hues.Telefono }}</td>
                    <td> {{hues.Tipo_Tarjeta }}</td>
                    <td> {{hues.Numero_Tarjeta }}</td>
                    <td> {{hues.Fecha_Expedicion }}</td>
                    <th>Herramientas de edicion</th>
                    <td> <a href="{% url 'editar' hues.ID_Huesped %}"> Editar </a>
                        <a href="{% url 'eliminar' hues.ID_Huesped %}"> Eliminar </a></td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    <h1> Reserva </h1>
        <table border=2 >
            <head>
                <trow>
                    <th>Cod Reserva</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Salida</th>
                    <th>Cantidad Niños</th>
                    <th>Cantidad Adultos</th>
                    <th>Estado Reserva</th>
                    <th>Número Habitación</th>
                    <th>ID Huesped</th>
                    <th>ID Empleado</th>
                    <th>Herramientas de edicion</th>
                </trow>
            </head>
            <tbody>
                {% for rese in misReservas%}
                <tr>
                    <td> {{rese.Cod_Reserva }}</td>
                    <td> {{rese.Fecha_Ingreso }}</td>
                    <td> {{rese.Fecha_Salida }}</td>
                    <td> {{rese.Cantidad_Ninos }}</td>
                    <td> {{rese.Cantidad_Adultos }}</td>
                    <td> {{rese.Estado_Reserva }}</td>
                    <td> {{rese.Numero_Habitacion }}</td>
                    <td> {{rese.ID_Huesped }}</td>
                    <td> {{rese.ID_Empleado }}</td>
                    <td> <a href="{% url 'editar' rese.Cod_Reserva %}"> Editar </a>
                        <a href="{% url 'eliminar' rese.Cod_Reserva %}"> Eliminar </a></td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
{%endif%} 
{% endblock %}
