{%extends "header.html"%}

{% block content %}
<center>
    
    {% if user.is_authenticated %}
        <p>Bienvenido {{user.name}} estas loggeado</p>
    {% else%}
        <div class="log">
        <h1>Logg</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <!-- 
            <label>Nombre</label>
            <input type="text"  placeholder="Nombre" name="username">

            <label>Contraseña</label>
            <input type="password"  placeholder="contraseña" name="password">             -->

            <button >Ingresar</button>

        </form>
        </div>
    {%endif%}
    </center>
{% endblock %}